* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-pink: #ff0095;
  --color-green: #a4d037;
  --color-yellow: #fecd35;
  --color-red: #f05230;
  --color-darkgrey: #15171a;
  --color-midgrey: #738a94;
  --color-lightgrey: #f1f1f1;
  --color-secondary-text: #979797;
  --color-border: #e1e1e1;
  --color-wash: #e5eff5;
  --color-darkmode: #151719;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
}

.website {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header {
  height: 58vh;
  background-image: url("assets/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tags {
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  color: white;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  font-size: 16px;
  font-weight: 500;
}
.navigation {
  margin-left: 20.5em;
  margin-right: 20.5em;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  padding: 1.2rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
}
.search-btn {
  padding: 10px;
  padding-top: 15px;
}

.signin-btn {
  font-weight: 500;
  font-size: 16px;
}
.subscribe-btn {
  border-radius: 48px;
  padding: 14px 20px 14px 20px;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.data {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 43%;
  left: 45%;
}
.title {
  font-size: 60px;
  color: white;
}
.description {
  position: relative;
  font-size: 25px;
  left: -28%;
  color: white;
}

.subscribe-fixed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.3em;
  right: 1.7em;
  gap: 10px;
  position: fixed;
  background-color: var(--color-pink);
  padding: 1em;
  border-radius: 999px;
}

.floating-btn {
  color: white;
}
.subscribe-fixed-text {
  font-size: 17px;
  color: #e1e1e1;
}

.content {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article-container {
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;

  margin-top: 3em;
  width: 70%;
}
.article-image {
  background-image: url(assets/welcome-to-ghost.png);
  background-size: cover;
  height: 400px;
  width: 800px;
}

.article-data {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
  /* background-color: #ff0095; */
}

.article-data-paragraph {
  font-size: 44px;

  font-weight: 600;
  color: var(--color-darkmode);
}
.article-data-header {
  font-size: 14px;
  font-weight: 800;
  color: var(--color-midgrey);
}

.article-data-footer {
  font-size: 14px;

  color: var(--color-midgrey);
}

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.article-card-img {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
  width: 69%;
  padding-left: 2em;
}

.article-card-img img {
  width: 90%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper-div {
  gap: 5em;
  width: 65.59%;
  display: flex;
}

.wrapper-header {
  display: flex;
  gap: 1em;
  color: var(--color-midgrey);
  font-size: 15px;
  font-weight: bold;
}

.wrapper-header div {
  display: flex;
  gap: 0.1em;
}

.wrapper-header svg {
  color: var(--color-pink);
}
.wrapper-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 30px;
}

.wrapper-desc {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.wrapper-footer {
  margin-top: 0.5em;
  font-size: 13px;
  color: var(--color-secondary-text);
}

.cards-wrapper {
  width: 65.59%;
  /* background-color: greenyellow; For Debugging */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 100%;
}

.cards {
  margin-top: 3em;
  /* background-color: #ff0095; For Debugging */
  display: flex;
  justify-content: center;
}
.card-image img {
  width: 94%;
}

.card-data {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.card-data-header {
  font-size: 16px;
  color: var(--color-secondary-text);
  font-weight: 900;
  margin-bottom: 0.8em;
}

.card-image {
  position: relative;
}
.locked-data {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 0.3em;
  font-weight: 500;
  color: white;
  top: 44%;
  left: 28%;
}
.image2 {
  filter: brightness(50%) blur(4px);
}

.card-data-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.card-data-desc {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0.9em;
  line-height: 23px;
}
.card-data-footer {
  font-size: 15px;
  color: var(--color-secondary-text);
}

.img-resize {
  height: 210px;
}

.img1 {
  height: 225px;
}

.pinktext {
  display: flex;
  color: var(--color-pink);
}

.footer-wrapper {
  font-size: 14px;
  padding: 3.5rem;
  padding-left: 9rem;
  padding-right: 9rem;
  color: white;
  background-color: black;
  height: 16.4em;
  display: flex;
  justify-content: space-around;
}

.footer-data {
  cursor: pointer;
  color: var(--color-secondary-text);
}

.footer-data:hover {
  color: white;
}
.footer-links {
  display: flex;
  gap: 0.5em;
}

/* Responsive Coding */

@media (max-width: 1332px) {
  body {
    background-color: #f05230;
    width: 100%;
  }

  .navigation {
    display: none;
  }

  .header {
    bottom: 0;

    left: 0;
    object-fit: cover;
    background-size: cover;
  }
}
